/* Estilização geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #000;
    height: 100vh;
    color: #ffd4de;
}

.interface{
    max-width: 1400px;
    margin: 0 auto;
}
    
/* ESTILO DO CABEÇALHO */

#header {
    box-sizing: border-box;
    height: 80px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
}


#menu{
    display: flex;
    list-style: none;
    gap: 50px;
}

/* cabeçalho desktop */

 a.active{
    color: #FF577F;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}


a.active:hover{
    color: #ff2155;
    transform: scale(1.02);
}

a.active2{
    color: #FF577F;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;

}


a.active2:hover{
    color: #ff2155;
    transform: scale(1.02);
}



 a.active3{
    color: #FF577F;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

nav a.active.active2:hover,
nav a.active3{
    color: #ff2155;
    border-bottom: 3px solid #ff2155;
    transform: scale(1.02);
    font-size: 20px;
}


 a.contact{
    color: #FF577F;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer
}

a.contact:hover{
    color: #ff2155;
    transform: scale(1.02);
}


/* ESTILIZAÇÃO MENU MOBILE */

#btn-mobile{
    display: none;
}

 @media(max-width:654px){ 
#btn-mobile{
    display:block
}
 #menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 70px;
    right: 0px;
    background: #000;
    transition: .6s; 
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    }
    #nav.ativo #menu{
        display:block;
        height:calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    
#menu a{
    padding: .5rem 0;
    margin: 0 1rem;
}
#btn-mobile{
    display: flex; 
   padding: .5rem 1rem;
   font-size: 1rem;
   font-weight: 600;
   border: none;
   background: none;
   cursor: pointer;
   gap: .8rem;
   color: #FF577F;

}

#hamburguer:hover{
    color:#ff2155;

}

#hamburguer{
    border-top: 3px solid;
    width: 20px;
    color:#FF577F;
}
#hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.ativo #hamburguer{
    border-top-color: transparent;
}
#nav.ativo #hamburguer::before{
    transform: rotate(135deg);
}

#nav.ativo #hamburguer::after{
    top: -7px;
    transform: rotate(-135deg);

}
}


/* Estilização MAIN */

h1
{
    -webkit-text-stroke: 1px #000; 
    background-image: linear-gradient(to right,#f95178, #f472a2, #ffa7bc); 
    font-family: "Lilita One", sans-serif;
    font-size: 40px;
    width: 400px;
    font-weight: 100;
    font-style: oblique;
    background-clip: text; 
    color: transparent; 
    text-align: center;
     margin-top: 20px; 
    }
    

#titulo-principal2::after {
    content: "|";
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
 
main{
    height: auto;
}
section.projetos{
    width: 100%;
    padding: 20px 4%;
    height: 570px;
}

.projetos {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.projetos h3{
    font-size: 20px;
    margin-top: 30px;
}

.projetos p{
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}

.projeto{
    margin-top: 10px;
}

.img1{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 500px;
    height: 400;
    margin-top: 20px;
}

.img2{
    border: 1px solid #ff2155;
    padding: 40px;
    width: 500px;
    height: 280px;
    margin-top:40px ;
}


/* fOOTER */

.img_rodape{
    width: 70px;
    height: 30px;
    margin-top: 5px;

}

.rodape p{
    margin-top: 10px;
}

.rodape p span{
    color: #ff2155;
}
.conteudo_rodape{
    width: 1650;
    height: 50px;
    border-top: 3px solid #ff2155;
    background: transparent;
    color: #ffd4de;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}


/* ////////////////////////////////////////// */

/* responsividade */

@media only screen and (min-width: 990px) and (max-width: 1400px) {
    
    
.img1{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 400px;
    height: 300;
    margin-top: 10px;
}

.img2{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 400px;
    height: 280px;
    margin-top: 70px;
}


.conteudo_rodape{
    width: 1650;
    height: 60px;
    border-top: 3px solid #ff2155;
    background: transparent;
    color: #ffd4de;
    text-align: center;
    font-size: 16px;
    margin-top: 170px;
}


}


@media only screen and (min-width:800px) and (max-width: 980px) {


    section.projetos{
        padding: 50px 4%;
        height: 900px;
    }
.img1{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 400px;
    height: 300;
    margin-top: 20px;
}

.img2{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 400px;
    height: 280px;
    margin-top: 30px;
}


.conteudo_rodape{
    width: 1650;
    height: 30px;
    border-top: 3px solid #ff2155;
    background: transparent;
    color: #ffd4de;
    text-align: center;
    font-size: 16px;
    margin-top: 270px;
}


.projeto1_2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

}




@media only screen and (min-width:538px) and (max-width: 800px) {
    

    section.projetos{
        padding: 50px 4%;
        height: 900px;
    }
.img1{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 400px;
    height: 300;
    margin-top: 20px;
}

.img2{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 400px;
    height: 280px;
    margin-top: 30px;
}


.conteudo_rodape{
    width: 1650;
    height: 30px;
    border-top: 3px solid #ff2155;
    background: transparent;
    color: #ffd4de;
    text-align: center;
    font-size: 16px;
    margin-top: 270px;
}


.projeto1_2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}
}


@media only screen and (max-width: 537px) {
    
    section.projetos{
        padding: 50px 4%;
        height: 910px;
    }
.img1{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 300px;
    height: 280;
    margin-top: 20px;
}

.img2{
    border: 1px solid #ff2155;
    padding: 10px;
    width: 300px;
    height: 180px;
    margin-top: 20px;
}


.conteudo_rodape{
    width: 1650;
    height: 70px;
    border-top: 3px solid #ff2155;
    background: transparent;
    color: #ffd4de;
    text-align: center;
    font-size: 16px;
    margin-top: 260px;
    margin-bottom: 30px;
}


.projeto1_2 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}

}